*{margin:0px;}
#wrapper{
	height:auto;
	width:100%;
}

#header{
	height:50px;
	width:100%;
	background:#006ebf;
}

#menu{
	height:25px;
	width:80%;
	background:#00ffff;
	margin:0 auto;
	position:relative;
}

#banner{
	height:300px;
	width:1024px;
	margin:5 auto;
	background:#d0d0d0;
	position:relative;
}

.category_heading{
	height:25px;
	width:1024px;
	margin:5 auto;
	background:yellow;
	position:relative;
}

.category_contents{
	display:block;
	height:250px;
	width:1024px;
	margin:5 auto;
	position:relative;
	overflow:auto;
}

.category_item{
	height:300px;
	width:300px;
	margin:10px;
	background:black;
	position:relative;
}

#footer{
	height:150px;
	width:100%;
	margin-top:5px;
	background:grey;
	position:relative;
}