*{margin:0px;}

#wrapper{
	height:auto;
	width:100%;
	background-color:#EBECED;
}

#header{
	display:block;
	top:0px;
	height:50px;
	width:100%;
	background:#1f6f8b;
}

#header #logo{
	float:left;
	display:block;
	height:50px;
	width:30%;
}

#logoname{
	top:50%;
	display:block;
	color:white;
	font-family:century gothic;
	font-weight:bold;
	font-size:25px;
	padding:8px 0px 0px 15px;
}

#logolink{
	text-decoration:none;
}

#header #search_container{
	float:left;
	display:block;
	height:30px;
	width:40%;
	padding-top: 12px;
	position:relative; 
}

#searchbar{
	border: 2px solid white;
	background-color:transparent;
	height:30px;
	width:90%;
}

::placeholder{
	font-family:century gothic;
	color:white;
	padding-left:5px;
}

#searchlogo_container{
	display:block;
	float:right;
	background:white;
	height:30px;
	width:10%;
	position:relative;
}

#searchlogo{
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:3px;
	cursor:pointer;
	height:25px;
	width:25px;
}

#header #userd_container{
	height:50px;
	width:30%;
	float:left;
}

#usericon{
	float:right;
	height:25px;
	width:25px;
	padding:12.5px 15px 0px 5px;
}

#username{
	float:right;
	position:relative;
	padding:14.5px 5px 0px 0px;
	font-family:century gothic;
	font-size:15px;
	color:white;	
}

#menu{
	display:block;
	height:30px;
	width:100%;
	background: #e6d5b8;
}

#menu #menu_item_container{
	margin:0px auto;
	height:25px;
	width:50%;
	padding-bottom:6px;
}

.menu_items{
	text-decoration:none;
	font-family:century gothic;
	font-weight:bold;
	font-size:20px; 
	letter-spacing:2px;
	color:#1C2B2D;
	padding:4px;
	margin:10px;
	transition:.4s;
}

#menu a:hover{
	color:#e6d5b8;
	background-color:#1f6f8b;
	<--background-image:linear-gradient(90deg,#1f6f8b,#1C2B2D);-->
}

#banner{
	display:block;
	margin:5px auto;
	height:200px;
	width:75%;
	background:#c1c1c1;
}

#banner #bannerpic{
	display:block;
	margin:5px auto;
	height:200px;
	width:100%;
}

.category_heading{
	display:block;
	margin: 5px auto;
	background:#1C2B2D;
	height:25px;
	width:75%;
}

.category_container{
	display:flex;
	margin:5px auto;
	max-height:330px;
	width:75%;
	overflow-x:auto;
	overflow-y:hidden;
	padding:5px;
}

.category_item{
	margin:5px;
	float:left;
	height:300px;
	min-width:300px;
	background:#f6f6f6;
}

.cat_item_link{
	text-decoration:none;
}

.category_item img:hover{
	margin:20px;
	transform: scale(1.1);
}

.item_details{
	font-family:century gothic;
	font-size:25px;
	color:#1C2B2D;
	align:left;
	padding:10px 0px 0px 10px;
}

#offer1{
	display:table-cell;
	margin:0px auto;
	height:300px;
	width:460px;
	transition: transform .4s;
}

#bar{
	margin:5px auto;
	background:#1f6f8b;
	width:90%;
	height:5px;
	border-radius:10px;
}

#footer{
	display:block;
	margin:0px auto;
	height:200px;
	width:100%;
	background:#1C2B2D;
}