*{margin:0px;}
body::-webkit-scrollbar{
	width:10px;
}
body::-webkit-scrollbar-track{
	background: #c1c1c1;
}
body::-webkit-scrollbar-thumb{
	background: grey;
	border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover{
	background: #090910;
}
#wrapper{
	height:auto;
	width:100%;
	background-color:#EBECED;
}

#header{
	display:block;
	top:0px;
	height:50px;
	width:100%;
	background:#E02401;
	padding-bottom:4px;
}

#header #logo{
	float:left;
	display:block;
	height:50px;
	width:30%;
}

#logoname{
	top:50%;
	display:block;
	color:white;
	font-family:century gothic;
	font-weight:bold;
	font-size:25px;
	padding:8px 0px 0px 15px;
}

#logolink{
	text-decoration:none;
}

#header #search_container{
	float:left;
	display:block;
	height:30px;
	width:40%;
	padding-top: 12px;
	position:relative; 
}

#searchbar{
	border: 2px solid white;
	background-color:transparent;
	height:30px;
	width:90%;
}

::placeholder{
	font-family:century gothic;
	color:white;
	padding-left:5px;
}

#searchlogo_container{
	display:block;
	float:right;
	background:white;
	height:30px;
	width:10%;
	position:relative;
}

#searchlogo_container input{
	display: block;
	height:30px;
	width:100%;
	background-image: url("search.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#searchlogo{
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:3px;
	cursor:pointer;
	height:25px;
	width:25px;
}

#header #userd_container{
	height:50px;
	width:30%;
	float:left;
}

#usericon{

	float:right;
	height:25px;
	width:25px;
	border-radius:50%;
	margin:12.5px 15px 0px 5px;
	transition:0.2s;
	padding:2px;
}

#drop_down{
	display:none;
	position:absolute;
	list-style: none;
	background-color: #e6d5b8;
	top:10%;
	right:0.5%;
	padding:0;
	border-radius:5px;
	transition:0.4s;
}

#drop_down li{
	font-family:century gothic;
	left:0px;
	padding:6px;
	border-radius: 5px;
	transition:.2s;
}

#drop_down li:hover{
	background-color: #1C2B2D;
	color:#EBECED;
}
#drop_down li:hover a{
	color:#EBECED;
}
#usericon:hover{
	background:#F78812;
}

#drop_down li a{
	text-decoration: none;
	color: #1C2B2D;
}
#username{
	float:right;
	position:relative;
	padding:18px 5px 0px 0px;
	font-family:century gothic;
	font-size:15px;
	color:white;	
}

#menu{
	display:block;
	position:relative;
	margin-top:0px;
	top:0;
	height:30px;
	width:100%;
	background: #F78812;
	<--box-shadow:0px 2px 35px;-->
}



.menu_items{
	text-decoration:none;
	font-family:century gothic;
	font-weight:bold;
	font-size:20px; 
	letter-spacing:2px;
	color:#1C2B2D;
	padding:1px 4px;
	margin:0px 10px;
	transition:.4s;
}

#menu a:hover{
	color:#EBECED;
	background-color:#E02401;
	<--background-image:linear-gradient(90deg,#1f6f8b,#1C2B2D);-->
}

#pro_details_container{
	display:block;
	margin: 50px auto;
	height:1500px;
	width:75%;
}

#pro_image{
	display: block;
	float:left;
	height:400px;
	width:30%;
}

#pro_image img{
	display:block;
	padding-top:40px;
	height:300px;
	width:75%;
	margin:0px auto;
}

#pro_details{
	display:block;
	height:1500px;
	width:70%;
	float:left;
}

#pro_details p{
	font-family: century gothic;
	font-size:15px;
	padding-left:10px;
}

#order{
	margin:0px;
}

#ordernow{
	display: inline-block;
	height:40px;
	margin:0px;
	width:150px;
	border-radius:20px;
	background-color: #E02401;
	transition:.2s;
}

#orderfont
{
	color:#1C2B2D;
}

#order:hover #ordernow{
	background-color: #51050F;
}

#order:hover #orderfont{
	color:#EBECED;
}

#pro_details td{
	border:2px #1C2B2D;
	border-style: none none solid none;
	font-family:century gothic;
	font-size:15px;
}

#details{
	display:block;
	font-size:10px;
	margin:0px auto;
	max-width:70px;
	text-align: center;
}

#about-heading{
	font-family:century gothic;
}

#spec{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:200px;
    width:370px;
}
.item_details{
	font-family:century gothic;
	font-size:25px;
	color:#1C2B2D;
	text-align:left;
	padding:10px 0px 0px 10px;
}
#bar{
	top:0;
	height:30px;
	background-color: #E02401;
	box-shadow: 0px 10px 20px #090910;
}


#footer{
	display:block;
	margin:0px auto;
	height:200px;
	width:100%;
	background-color: #51050F;
}

#site_details{
	display:inline-block;
	margin:0px 5px;
	padding:2px;
	display:block;
}