*{margin:0px;}
body{
	background-color: #EBECED;
}

#wrapper{
	height:auto;
	width:100%;
}

#header{
	display:block;
	height:50px;
	width:100%;
	background:#1f6f8b;
}

#header #logo{
	float:left;
	display:block;
	height:50px;
	width:30%;
}

#logoname{
	top:50%;
	display:block;
	color:white;
	font-family:century gothic;
	font-weight:bold;
	font-size:25px;
	padding:8px 0px 0px 15px;
}

#logolink{
	text-decoration:none;
}

#header #search_container{
	float:left;
	display:block;
	height:30px;
	width:40%;
	padding-top: 12px;
	position:relative; 
}

#searchbar{
	border: 2px solid white;
	background-color:transparent;
	height:30px;
	width:90%;
}

::placeholder{
	font-family:century gothic;
	color:white;
	padding-left:5px;
}

#searchlogo_container{
	display:block;
	float:right;
	background:white;
	height:30px;
	width:10%;
	position:relative;
}

#searchlogo{
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:3px;
	cursor:pointer;
	height:25px;
	width:25px;
}

#heading{
	color:white;
	float:left;
	width:61%;
	font-family:century gothic;
	font-size:25px;
	padding-top:11px;
}

#header #userd_container{
	height:50px;
	width:30%;
	float:left;
}

#usericon{
	float:right;
	height:25px;
	width:25px;
	padding:12.5px 15px 0px 5px;
}

#username{
	float:right;
	padding:14.5px 5px 0px 0px;
	font-family:century gothic;
	font-size:15px;
	color:white;	
}

#menu{
	display:block;
	position:sticky;
	top:0;
	height:30px;
	width:100%;
	background: #e6d5b8;
	box-shadow:0px 2px 35px;
}

#menu #menu_item_container{
	margin:0px auto;
	height:25px;
	width:50%;
	padding-bottom:6px;
}

.menu_items{
	text-decoration:none;
	font-family:century gothic;
	font-weight:bold;
	font-size:20px; 
	letter-spacing:2px;
	color:#1C2B2D;
	padding:4px;
	margin:10px;
	transition:.4s;
}

#menu a:hover{
	color:#e6d5b8;
	background-color:#1f6f8b;
	<--background-image:linear-gradient(90deg,#1f6f8b,#1C2B2D);-->
}

#pro_details_container{
	margin: 50px auto;
	height:1500px;
	width:75%;
}

#pro_image{
	background-color: #EBECED;
	float:left;
	height:400px;
	width:30%;
}

#pro_image img{
	display:block;
	padding-top:40px;
	height:300px;
	width:90%;
	margin:0px auto;
}

#pro_details{
	background-color: #EBECED;
	height:auto;
	width:70%;
	float:left;
}

#pro_details p{
	font-family: century gothic;
	font-size:15px;
	padding-left:10px;
}

#order{
	margin:0px;
}

#ordernow{
	display: inline-block;
	height:40px;
	margin:0px;
	width:150px;
	border-radius:20px;
	background-color: #e6d5b8;
	transition:.4s;
}

#orderfont
{
	color:#1C2B2D;
}

#order:hover #ordernow{
	background-color: #1f6f8b;
}

#order:hover #orderfont{
	color:#EBECED;
}

#pro_details td{
	border:2px #1C2B2D;
	border-style: none none solid none;
	font-family:century gothic;
	font-size:15px;
}

#details{
	display:block;
	font-size:10px;
	margin:0px auto;
	max-width:70px;
	text-align: center;
}

#about-heading{
	font-family:century gothic;
}

#spec{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:200px;
    width:370px;
}

#bar{
	top:0;
	height:30px;
	background-color: #1f6f8b;
	box-shadow: 0px 10px 20px black;
}

#footer{
	display:block;
	position:arelative;
	margin:0px auto;
	height:200px;
	width:100%;
	background-color: #1C2B2D;
}